@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

a, .green {
  border-bottom: 1px solid hsla(160, 100%, 37%, 1);
  cursor: pointer;
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px 10px;
  line-height: 1.6;
}

a {
  margin: 0 .25rem;
}

@media (hover: hover) {
  a:hover, .editable:hover, .green:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.editable {
  cursor: pointer;
  transition: 0.4s;
  padding: 3px 10px;
  width: 150px;
}

.button {
  display: inline-block;
  border-bottom: 1px solid hsla(160, 100%, 37%, 1);
  margin-left: .5rem;
}

